DailyInfo.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValuteData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ValuteCursOnDate">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Vname" type="xs:string" />
              <xs:element minOccurs="0" name="Vnom" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Vcurs" type="xs:decimal" />
              <xs:element minOccurs="0" name="Vcode" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="VchCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="OnDate" type="xs:unsignedInt" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>